*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  width: 100vw;
}

body {
  background-color: #ecf0f1;
}

.content {
  text-align: center;
}

.title {
  margin: 10px 10px 1px 10px;
  padding-top: 30px;

  color: #2c3e50;
  text-transform: uppercase;      
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
  margin-top: 20px;
}

button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 3px;

  color: #ecf0f1;
  background-color: #16a085;
}

.div-side {
  margin: 0 auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
}